{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}"
          crossorigin=""/>
    <style>
        #mapid {
            height: 400px;
        }
    </style>
{% endblock %}
{% block js %}
    <script src="{% static 'leaflet/leaflet.js' %}"
            crossorigin=""></script>
    <script src="{% static 'proj4.js' %}"></script>
    <script src="{% static 'proj4leaflet.js' %}"></script>
{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="mapid"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block postjs %}
    <script>

    </script>
{% endblock %}